
.grid {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 100px auto 40px;
  column-gap: 1em;
  row-gap: 1em;
}
.grid div {
  background: #ecf0f1;
  padding: 1em;
}

.grid div:hover {
  border: 1px solid #f1c40f;
}


