extend components/plantilla.pug
block contenidos
  body 
    .contenido 
      .contenido__side 
        h1 Menu 
        ul 
          each menu in enlaces
            li= menu
      .contenido__principal 
        h2 Titulo Principal
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi omnis ea excepturi deleniti fuga iure, sequi illo commodi a exercitationem quisquam veritatis. Voluptates molestiae dignissimos dolorum repudiandae deleniti doloremque iure?

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae facere modi minus tenetur quasi recusandae fuga tempore quas eligendi amet, vitae dicta, perferendis eveniet odit, magni distinctio? Neque, reprehenderit?

